<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^contact/?$ contact.php [L]
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "no-store"
</IfModule>

<Files "mail-config.php">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Deny from all
  </IfModule>
</Files>

<Files "smtp.php">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Deny from all
  </IfModule>
</Files>
